 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* .work-sans-one {
  font-family: "Work Sans", serif;
   font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}  */
*{
    margin:0px 33.8px;
    margin: none;
    background-color: rgba(255, 255, 255, 0.00);
    font-family: "Work Sans", serif;
}

/* frirst  */
nav{
    display: flex;
    /* background-color: rgba(245, 245, 245, 1.00); */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding-right: 20px;
    padding-left: 20px; */
    justify-content: space-between;
    align-items: center;
    
    font-family: Fira Sans Condensed;
     /* padding: 24px ; */
     padding: 40px 55px
    

}
.btn-one{
   border-radius: 10px;
   height: 52px;
   width: 116px;
   color: rgba(0, 106, 80, 1.00) ;
   background-color:  rgba(245, 245, 245, 1.00);
   border-color:  rgba(0, 106, 80, 1.00) ;
  font-weight: bold;
   
}
.benar{
    display: flex;
   align-content: space-between;
   background-color: rgb(198, 228, 214);
   border-radius: 24px;
   flex-direction: row;
justify-content :space-between;
align-items: center;
 margin: 0px 40px; 
padding: 0px 0px;
margin-bottom: 10px;

}
.benar-gridings{
    color: rgba(14, 14, 14, 0.50);
    font-size: 24px;
    margin-bottom: 10px;

}
.benar-content{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 20px;
font-weight:800px;
width: 622px;
height: 201px;
margin: 16px 0px;
margin-bottom: 10px;
 
}
.benar-title{
    margin-bottom: 10px;
}
.button-primary{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;

background: rgb(0, 106, 80);
padding: 17px 34px 17px 34px;
}
.title-two h1{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
margin-top: 20px;
margin: 30px;

}
.containt-three{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
margin: 30px 20px;
padding: 20px;




}
.type-size{
    box-sizing: border-box;
    border: 0px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    
    background: rgb(255, 255, 255);
    margin: 0;
    padding: 24px;
    margin: 0px 10px;
}
.pera{
    display: flex;
    margin: 0px 33.8px ;
    
}
.maindiv{
    margin: 50px 50px;
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
}
.theardwork h1{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
margin-top: 20px;
margin: 30px;

}
.theardwork p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 30px ;
}
.pera-two{
    display: flex;
    margin: 30px;
}

.btn-two{
    border-radius: 8px;

background: rgb(84, 144, 245);
justify-content: center;
align-items: center;
gap: 48;
padding: 11px 20px 11px 20px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
margin: 10px;
border-color:  rgb(84, 144, 245) ;
}
.divsame-one .containt-three h3{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 10px;
}
.divsame-one .containt-three p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px;
    margin-bottom: 30px;
}
.divsame-one .containt-three .imgone{
    margin: 10px;

}
.divsame-one .containt-three{
    box-sizing: border-box;
    border-radius: 16px;
    
    background: rgba(84, 144, 245, 0.2);
}
.btn-three{
    border-radius: 8px;

    background: rgb(9, 161, 92);
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 11px 20px 11px 20px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px;
    border-color: rgb(9, 161, 92) ;
}
.btn-fhour{
    border-radius: 8px;

background: rgb(255, 194, 57);
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 11px 20px 11px 20px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px;
    border-color:  rgb(255, 194, 57);
}
.divsame-two .containt-three h3{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 10px;
}
.divsame-two .containt-three p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 10px;
margin-bottom: 30px;
}
.divsame-two .containt-three img{
    margin: 10px;
}
.divsame-two .containt-three{
    box-sizing: border-box;
border-radius: 16px;

background: rgb(198, 228, 214);
}
.divsame-three .containt-three h3{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 10px;

}
.divsame-three .containt-three p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 10px;
margin-bottom: 30px;
}
.divsame-three .containt-three img{
    margin: 10px;
}
.divsame-three .containt-three{
    box-sizing: border-box;
border-radius: 16px;

background: rgb(247, 235, 207);
}
.heading{
    margin: none;
}

.imgBox{
   position: absolute;
   width: 50px;
height: 100px;
margin-bottom: 1000px;
text-align: inherit;

}

.headingDes{    
    position: relative;
    right: 0;
    top: 1000;
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 10px;
}
.heading p{
    color: rgba(14, 14, 14, 0.6);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
/* table start */
.h1{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.tr ,td{
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;

}
select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  .th{

position: static;
width: 1168px;
height: 24px;

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px; 
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }

.opinioncode {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .body{
    margin: 100px;
  }
  /* table */
  .new{
    margin: 24px 57px;
    padding: 10px 90px 10px 0px;
  }
.news h1{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.news p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.allprogram{
    box-sizing: border-box;
    border-radius: 24px;

background: rgb(255, 255, 255);


}
.about{
   display: flex;
   justify-content: space-between;

}
.about-img img{
position: static;
width: 408px;
height: 306px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 32px;
border-radius: 24px;
}
.bout-contain{
position: static;
width: 744px;
height: 290px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 0px;
flex: none;
order: 1;
flex-grow: 1;
margin: 0px 32px;

}

.about-contain h1{
position: static;
width: 744px;
height: 38px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
margin: 0px 30px
   
}
.about-contain img {
position: static;
width: 134px;
height: 40px;
flex: none;
order: 1;
flex-grow: 0;
margin: 12px 30px;

}
.about-contain p {
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
position: static;
width: 744px;
height: 72px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 0px;
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
margin: 12px 30px;

}
.about-contain button{
position: static;
width: 139px;
height: 48px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 13px 26px 13px 26px;
flex: none;
order: 1;
flex-grow: 0;
margin: 12px 30px;
border-radius: 8px;

background: rgb(0, 106, 80);

}
.dt{
position: static;
width: 744px;
height: 24px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 0px;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
margin: 12px 0px;
}
.news-contain{
position: static;
width: 1280px;
height: 402px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 32;
padding: 10px 90px 10px 0px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 57px;
border-radius: 24px;

background: rgb(206, 193, 193);
}
/* two */
.about-two{
    display: flex;
    justify-content: space-between;
 
    
 
 }
 .about-img-two img{
 position: static;
 width: 408px;
 height: 306px;
 flex: none;
 order: 0;
 flex-grow: 0;
 margin: 0px 10px;
 border-radius: 24px;
 }
 .bout-contain-two{
 position: static;
 width: 744px;
 height: 290px;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 gap: 32;
 padding: 0px;
 flex: none;
 order: 1;
 flex-grow: 1;
 margin: 0px 32px;
 
 }
 
 .about-contain-two h1{
 position: static;
 width: 744px;
 height: 38px;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 gap: 12;
 padding: 0px;
 flex: none;
 order: 0;
 align-self: stretch;
 flex-grow: 0;
 color: rgba(14, 14, 14, 0.8);
 font-family: Fira Sans;
 font-size: 32px;
 font-weight: 700;
 line-height: 38px;
 letter-spacing: 0%;
 text-align: left;
 margin: 0px 30px
    
 }
 .about-contain-two img {
 position: static;
 width: 134px;
 height: 40px;
 flex: none;
 order: 1;
 flex-grow: 0;
 margin: 12px 30px;
 
 }
 .about-contain-two p {
     color: rgba(14, 14, 14, 0.7);
 font-family: Fira Sans;
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
 letter-spacing: 0%;
 text-align: left;
 position: static;
 width: 744px;
 height: 72px;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 gap: 12;
 padding: 0px;
 flex: none;
 order: 3;
 align-self: stretch;
 flex-grow: 0;
 margin: 12px 30px;
 
 }
 .about-contain-two button{
 position: static;
 width: 139px;
 height: 48px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 48;
 padding: 13px 26px 13px 26px;
 flex: none;
 order: 1;
 flex-grow: 0;
 margin: 12px 30px;
 border-radius: 8px;
 
 background: rgb(0, 106, 80);
 
 }
 .dt-two{
 position: static;
 width: 744px;
 height: 24px;
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: left;
 gap: 12;
 padding: 0px;
 flex: none;
 order: 2;
 align-self: stretch;
 flex-grow: 0;
 margin: 12px 0px;
 padding: 0;
 }
 .news-contain-two{
 position: static;
 width: 1280px;
 height: 402px;
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;
 gap: 32;
 padding: 10px 90px 10px 0px;
 
 flex: none;
 order: 0;
 align-self: stretch;
 flex-grow: 0;
 margin: 24px 57px;
 border-radius: 24px;
 
 background: rgb(206, 193, 193);
 }
 .last h3{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
 }
